---
import SummaryCard from '@components/generic/SummaryCard.astro';
import { Button } from '@eliancodes/brutal-ui';
import type { CollectionEntry } from 'astro:content';
import { formatDateToCatalan, getNumberOfDays } from 'src/methods/date-utils';

interface Props {
  trip: CollectionEntry<'trip'>;
}
const { trip } = Astro.props;
---

<SummaryCard
    title={trip.data.title}
    imgAlt={trip.data.title}
    imgSrc={trip.data.imgUrl}
    description={trip.data.description}
>
  <p class=""><b>Inici: </b>{formatDateToCatalan(trip.data.fromDate)}</p>
  <p class=""><b>Fins: </b>{formatDateToCatalan(trip.data.toDate)}</p>
  <div class="flex justify-end my-4">
    <Button href={`/trip/${trip.slug}/`}>Explora el viatge &rarr;</Button>
  </div>
</SummaryCard>